.button {
  display: block;
  text-align: center;
  position: relative;
  width: 100%;
  max-width: 200px;
  border-radius: 40px;
  padding: 15px;
  background-color: #0f0f34;
  transition: ease 0.7s;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
  white-space: nowrap;
  z-index: 1;
  @media (any-hover: hover) {
    &:hover {
      background: linear-gradient(45deg, rgba(246, 27, 44, 1), rgba(237, 27, 141, 1), rgba(255, 112, 39, 1));
      background-size: 400% 400%;
      animation: gradient 5s ease infinite;
    }
  }

  &::before {
    content: "";
    position: absolute;
    background: linear-gradient(45deg, rgba(246, 27, 44, 1), rgba(237, 27, 141, 1), rgba(255, 112, 39, 1));
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 2px solid transparent;
    border-radius: 40px;
    -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
    mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
  }
}

.button--filled {
  background: linear-gradient(45deg, rgba(246, 27, 44, 1), rgba(237, 27, 141, 1), rgba(255, 112, 39, 1));
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
  padding: 25px 20px;
  @include adaptive-value("font-size", 15, 12, $type);
  &::before {
    top: -6px;
    left: -6px;
    right: -6px;
    bottom: -6px;
    border-width: 6px;
    border-radius: 40px;
    opacity: 0.30000001192092896;
  }
  @media (any-hover: hover) {
    &:hover {
      background: linear-gradient(45deg, rgba(246, 27, 44, 1), rgba(237, 27, 141, 1), rgba(255, 112, 39, 1));
      background-size: 400% 400%;
      animation-play-state: paused;
    }
  }
}

.button--blue-gradient {
  &::before {
    background: linear-gradient(rgba(64, 64, 120, 1), rgba(130, 130, 222, 1));
  }

  @media (any-hover: hover) {
    &:hover {
      background: #261f49;
      animation: none;
      background-size: 100% 100%;
    }
  }
}
