.service-card {
  display: flex;
  align-items: start;
  gap: 25px;
  padding: 25px;
  border-radius: 12px;
  border: 2px solid #2d2d5a;
}

.service-card__block-img {
}

.service-card__img {
}

.service-card__block-text {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.service-card__title {
  font-weight: 600;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}

.service-card__text {
  font-size: 15px;
  margin-top: 10px;
  font-weight: 300;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}

.service-card__link {
  margin-top: 10px;
}

@media (max-width: 650px) {
  .service-card__title {
    display: block;
    overflow: visible;
  }
}
