.info-blocks__container {
  max-width: 1070px;
}

.info-blocks__title {
  max-width: 804px;
}

.info-blocks__items {
  display: flex;
  flex-direction: column;
  gap: 160px;
}

.info-blocks__item {
  position: relative;
  display: flex;
  align-items: center;
  gap: 80px;
}

.info-blocks-block-img {
  flex: 0 1 50%;
}

.info-blocks-block-img__img {
  max-width: 100%;
}

.info-blocks-block-text {
  flex: 0 1 50%;
}

.info-blocks-block-text__title {
  font-size: 28px;
  font-weight: 500;
  @media (max-width: 500px) {
    & {
      font-size: 18px;
    }
  }
}

.info-blocks-block-text__text {
  margin-top: 25px;
  font-weight: 300;
}

.info-blocks__order-button {
  max-width: 271px;
  margin-top: 44px;
}

@media (max-width: 750px) {
  .info-blocks__items {
    gap: 20px;
  }

  .info-blocks__item {
    overflow: hidden;
    border-bottom: 1.5px solid #2a2a5a;
    padding-bottom: 30px;
  }

  .info-blocks-block-img {
    z-index: 4;
    max-width: 140px;
    position: absolute;
    top: 0;
    right: -35px;
    flex: 1 1 auto;
  }

  .info-blocks-block-text {
    z-index: 5;
    flex: 0 1 80%;
  }
}
